.header {
    min-width: 2011px;
    min-width: 50px;
    height: 84px;
    background-color: #007765;
}

.jumbotron {
    min-width: 2011px;
    min-width: 50px;
    height: 403px;
    background: url(../img/image.png);
    background-position: center center;
    background-size: cover;
}

.theproblem {
    min-width: 2011px;
    min-width: 50px;
    height: 719px;
    background-color: #EEEEEE;
}

.hero {
    min-width: 2011px;
    min-width: 50px;
    height: 483px;
    background: url(../img/hero.png);
    background-position: center center;
    background-size: cover;
}

.ppc {
    min-width: 2011px;
    min-width: 50px;
    height: 604px;
    background-color: #FFFFFF;
}

.theteam {
    min-width: 2011px;
    min-width: 50px;
    height: 845px;
    background-color: #EEEEEE;
}

.footer {
    min-width: 2011px;
    min-width: 50px;
    height: 176px;
    background-color: #333333;
}