.header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* position: sticky;
    top: 0; */
    align-items: center;
    max-width: 100%;
    min-width: 50px;
    background-color: #007765;
}

.logo {
    display: flex;
    margin-top: 20px;
    margin-bottom: 19px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: "Roboto";
    font-size: 24px;
    color: #FFFFFF;
    max-width: 424px;
    min-width: 50px;
    height: 29px;
    margin-top: 28px;
    margin-bottom: 27px;
}

.navbar_p {
    margin-left: 11px;
    margin-right: 11px;
    padding-left: 11px;
    padding-right: 11px;
    border-left: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
}

.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-width: 50px;
    height: 403px;
    background: url(../img/image.png);
    background-position: center center;
    background-size: cover;
}

.jumbotron_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    font-family: "Roboto";
    font-size: 72px;
    color: #FFFFFF;
}

.theproblem {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    min-width: 50px;
    height: 719px;
    background-color: #EEEEEE;
}

.theproblem_title {
    font-family: "Roboto";
    font-size: 64px;
    color: #007765;
    margin-top: 48px;
    margin-bottom: 16px;
    line-height: 75px;
}

.theproblem_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1110px;
    min-width: 50px;
    height: 488px;
    font-family: "Roboto";
    font-size: 32px;
    color: #000000;
    line-height: 37.5px;
}

b {
    font-weight: 700;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-width: 50px;
    height: 483px;
    background: url(../img/hero.png);
    background-position: center center;
    background-size: cover;
}

.hero_content {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 893px;
    min-width: 50px;
    height: 228px;
    font-family: "Roboto";
    font-style: italic;
    font-size: 48px;
    color: #FFFFFF;
    line-height: 56.25px;
}

.ppc {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    min-width: 50px;
    height: 604px;
    background-color: #FFFFFF;
}

.ppc_title {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    font-family: "Roboto";
    font-size: 64px;
    line-height: 75px;
    color: #007765;
    margin-top: 48px;
    margin-bottom: 16px;
}

.ppc_top {
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    min-width: 50px;
    font-family: "Roboto";
    font-size: 32px;
    line-height: 37.5px;
    color: #000000;
}

.ppclogo {
    margin-right: 48px;
}

.ppc_bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1110px;
    min-width: 50px;
    height: 223px;
    margin-top: 40px;
    font-family: "Roboto";
    font-size: 32px;
    line-height: 37.5px;
    color: #000000;
}

.theteam {
    min-width: 2011px;
    min-width: 50px;
    height: 845px;
    background-color: #EEEEEE;
}

.footer {
    min-width: 2011px;
    min-width: 50px;
    height: 176px;
    background-color: #333333;
}