.head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 84px;
    flex: 1 1 100%;
    position: fixed;
    background-color: #007765;
}

.navbar {
    display: flex;
    align-items: center;
    font-family: "Roboto";
    font-size: 24px;
    color: #FFFFFF;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 184px;
    height: 45px;
}

.problem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 129px;
    height: 29px;
    padding-right: 10.5px;
}

.pied {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 153px;
    height: 29px;
    padding-left: 11.5px;
    padding-right: 11.5px;
    border-left: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
}

.team {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 29px;
    padding-left: 11px;
}

.block1 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 403px;
    background: url("../img/image.png");
    background-size: cover;
    background-position: center center;
}

.content1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1219px;
    height: 83px;
    font-family: "Roboto";
    font-size: 72px;
    color: #FFFFFF;
}