body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header {
    display: flex;
    justify-content: center;
    /* position: sticky;
    top: 0; */
    width: 100%;
    height: 84px;
    background-color: #007765;
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1219px;
    height: 84px;
    padding-left: 55px;
    padding-right: 55px;
}

.header_logo {
    padding-right: 24px;
}

.header_navbar {
    display: flex;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.navbar_ppc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    margin-right: 12px;
    border-left: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
    padding-left: 12px;
    padding-right: 12px;

}

.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 403px;
    background: url(../img/image.png);
    background-position: center center;
    background-size: cover;
}

.jumbotron_content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1219px;
    height: auto;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 72px;
    line-height: 84px;
    color: #FFFFFF;
    padding-left: 55px;
    padding-right: 55px;
}

.theproblem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #EEEEEE;
}

.theproblem_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1219px;
    height: auto;
    padding-left: 55px;
    padding-right: 55px;
}

.theproblem_title {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #007765;
    padding-top: 48px;
    padding-bottom: 16px;
}

.theproblem_text {
    display: flex;
    align-items: space-between;
    flex-wrap: wrap;
    width: 100%;
    min-height: 488px;
    max-height: 100%;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
    padding-bottom: 92px;
}

b {
    font-weight: 700;
}

.theproblem_text1 {
    padding-top: 11px;
    padding-bottom: 11px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 483px;
    max-height: 100%;
    background: url(../img/hero.png);
    background-position: center center;
    background-size: cover;
}

.hero_content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1219px;
    padding-left: 55px;
    padding-right: 55px;
}

.hero_text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 893px;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
}

.ppc {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 604px;
    max-height: 100%;
    background-color: #FFFFFF;
}

.ppc_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1219px;
    min-width: none;
    min-height: 464px;
    max-height: 100%;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 48px;
    padding-bottom: 92px;
}

.ppc_title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #007765;
    padding-bottom: 16px;
}

.ppcmiddle {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1110px;
    min-width: none;
    min-height: 115px;
    max-height: none;
}

.ppclogo {
    padding-right: 65px;
}

.middle_text {
    max-width: 930px;
    min-width: none;
    min-height: 110px;
    max-height: none;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
}

.ppcbottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1110px;
    min-width: none;
    min-height: 223px;
    max-height: none;
    padding-top: 35px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
}

i {
    font-style: italic;
}

.theteam {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 845px;
    max-height: 100%;
    background-color: #EEEEEE;
}

.theteam_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1219px;
    min-width: none;
    min-height: 703px;
    max-height: 100%;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 48px;
    padding-bottom: 94px;
}

.theteam_title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #007765;
}

.theteam_card {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 32px;
    width: 100%;
    height: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 283px;
}

.card_name {
    padding-top: 12px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #007765;
}

.card_jobtitle {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}