.conteiner1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #007765;
    width: 100%;
    height: 84px;
    flex: 1 1 100%;
}

.navbar {
    display: flex;
    font-family: "Roboto";
    color: #FFFFFF;
}

.problem {
    padding-right: 12px;
}

.team {
    padding-left: 12px;
}

.pied {
    padding-left: 12px;
    padding-right: 12px;
    border-left: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
}

.block2 {
    display: flex;
    width: 100%;
    height: 403px;
    background: url("../img/image.png");
    background-position: center center;
    justify-content: center;
    align-items: center;
}

.content2 {
    font-family: "Roboto";
    color: #FFFFFF;
    font-size: 72px;
}

.block3 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 719px;
    background-color: #EEEEEE;
}
.prob {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 75px;
    font-family: "Roboto";
    font-size: 64px;
    color: #007765;
    padding-top: 48px;
    padding-bottom: 16px;
}
.li3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 1;
    max-width: 1110px;
    height: 488px;
    text-align: left;
    font-family: "Roboto";
    font-size: 32px;
    line-height: 37.5px;
}
b {
    font-weight: 700;
}