.header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    max-width: 100%;
    min-width: 50px;
    background-color: #007765;
}

.logo {
    display: flex;
    margin-top: 20px;
    margin-bottom: 19px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: "Roboto";
    font-size: 24px;
    color: #FFFFFF;
    max-width: 424px;
    min-width: 50px;
    height: 29px;
    margin-top: 28px;
    margin-bottom: 27px;
}

.navbar_p {
    margin-left: 11px;
    margin-right: 11px;
    padding-left: 11px;
    padding-right: 11px;
    border-left: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
}

.jumbotron {
    min-width: 2011px;
    min-width: 50px;
    height: 403px;
    background: url(../img/image.png);
    background-position: center center;
    background-size: cover;
}

.theproblem {
    min-width: 2011px;
    min-width: 50px;
    height: 719px;
    background-color: #EEEEEE;
}

.hero {
    min-width: 2011px;
    min-width: 50px;
    height: 483px;
    background: url(../img/hero.png);
    background-position: center center;
    background-size: cover;
}

.ppc {
    min-width: 2011px;
    min-width: 50px;
    height: 604px;
    background-color: #FFFFFF;
}

.theteam {
    min-width: 2011px;
    min-width: 50px;
    height: 845px;
    background-color: #EEEEEE;
}

.footer {
    min-width: 2011px;
    min-width: 50px;
    height: 176px;
    background-color: #333333;
}