body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.head {
    display: flex;
    justify-content: center;
    background-color: #007765;
    width: 100%;
}

.head_block {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 1219px;
    padding: 0 55px 0 55px;
}

.head_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 29px 0 26px 0;
}

.menu {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.border {
    margin: 0 10px 0 10px;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    height: 20px;
}

.logo {
    margin: 20px 0 19px 0;
}

.jumbotron {
    display: flex;
    justify-content: center;
    background-image: url(/img/jumbotron.png);
    background-size: cover;
    width: 100%;
}

.jumbotron_block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1219px;
    padding: 0 55px 0 55px;
}

.jumbotron_block p {
    margin: 160px 0 160px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    color: #FFFFFF;
}

.problem {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background-color: #EEEEEE;
}

.problem_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 1219px;
    padding: 0 55px 0 55px;
}

.problem_block h1 {
    margin: 48px 0 16px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #007765;
}

.problem_block p {
    display: flex;
    align-self: flex-start;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
    margin-bottom: 32px;
}

.problem_text-conteiner {
    margin-bottom: 60px;
}

.hero {
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: url(/img/hero.png);
    background-size: cover;
}

.hero_block {
    margin: 128px 0 127px 0;
    width: 1219px;
    padding: 0 55px 0 55px;
}

.hero_block p {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
}