.body {
    width: 100%;
}
.header {
    position: relative;
    width: 100%;
    height: 84px;
    background-color: #007765;
}
.logo {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 501px;
    margin-top: 20px;
    margin-bottom: 19px;
}
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1187px;
}